body{
    font-family: Arial, Helvetica, sans-serif;
}
#outer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
}
h1{
    text-align: center;
    padding-left: 70px;
    padding-right: 70px;
    border: 3px solid black;
    background-color: bisque;
    border-radius: 5px;
    margin-left: 10px;
}
#container{
    display : flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    border-radius: 5px;
    background-color:burlywood;
}
.money{
    display: flex;
    flex-direction: row;
    align-items: center;
}

h3 {
    width: 100px;
    text-align: right;
    margin-right: 10px;
  }
#para{
    display: flex;
    width: 100vw;
    justify-content: center;
}
p{
    font-size: 25px;
    background-color: bisque;
    margin-bottom: 0px;
    
}
#btn{
    font-size: 15px;
    height: 50px;
    width: 100px;
    font-weight: bolder;
}
.input-values{
    margin-right: 30px;
    font-size: 20px;
}
body {
    background-image: url("https://i.pinimg.com/originals/50/1d/49/501d49dc37935dc5c1fa42a676f785de.gif");
    background-size: cover;
}